@model IEnumerable<projekt_bd_wypozyczalnia_gier.Models.Game>
<style>
    th, td {
        border: 1px solid black;
        text-align: center;
    }
    thead, tbody {
        border: 1px solid black;
    }
    table {
        width: 100%;
    }
</style>
<h2>Lista Gier</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Tytuł</th>
            <th>Opis</th>
            <th>Cena</th>
            <th>Platforma</th>
            <th>Dostępność</th>
            <th>Działanie</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model)
        {
            <tr>
                <td>@game.Id</td>
                <td>@game.Title</td>
                <td>@game.Description</td>
                <td>@game.Price</td>
                <td>@game.Platform</td>
                <td>@(game.Available ? "Tak" : "Nie")</td>
                <td>
                    <a href="/Game/Edit/@game.Id">Edytuj</a> |
                    <form method="post" asp-action="DeleteConfirmed" asp-route-id="@game.Id" style="display:inline;">
                        <button type="submit">Usuń</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/Game/Create">Dodaj grę</a>
